<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myc.scholarship.mapper.AwardMapper">

    <!--&lt;!&ndash; 开启二级缓存 &ndash;&gt;-->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.myc.scholarship.entity.Award">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="bGrade" property="bGrade" />
        <result column="amount" property="amount" />
        <result column="minScore" property="minScore" />
        <result column="subjectScore" property="subjectScore"></result>
        <result column="rank" property="rank"></result>
        <result column="status" property="status"></result>
    </resultMap>

    <select id="pageWithSearch" resultMap="BaseResultMap">
        select * from award
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
