<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myc.scholarship.mapper.RecordMapper">

    <!--&lt;!&ndash; 开启二级缓存 &ndash;&gt;-->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.myc.scholarship.entity.Record">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="num" property="num" />
        <result column="award_id" property="awardId" />
        <result column="class_id" property="classId"></result>
        <result column="depId" property="depId"></result>
        <result column="insertTime" property="insertTime" />
        <result column="check1" property="check1" />
        <result column="check2" property="check2" />
    </resultMap>
    <resultMap id="listMap" type="com.myc.scholarship.entity.Record" extends="BaseResultMap">
        <association property="award" javaType="com.myc.scholarship.entity.Award">
            <id column="aId" property="id"></id>
            <result column="title" property="title"></result>
            <result column="bGrade" property="bGrade"></result>
        </association>
        <association property="score" javaType="com.myc.scholarship.entity.Score">
            <result column="score" property="score"></result>
            <result column="subjectScore" property="subjectScore"></result>
        </association>
        <association property="classroom" javaType="com.myc.scholarship.entity.Classroom">
            <result column="cName" property="name"></result>
        </association>
        <association property="department" javaType="com.myc.scholarship.entity.Department">
            <result column="dName" property="name"></result>
        </association>
    </resultMap>

    <select id="selectWithAward" resultMap="listMap">
        select a.id,a.name,a.num,a.insertTime,a.check1,a.check2,
        b.title,b.bGrade,c.score,c.subjectScore,
        d.name as dName,f.name as cName,s.name as sName
        from record a
        left join award b on a.award_id = b.id
        left join score c on c.num = a.num
        left join student s on s.num = a.num
        left join department d on d.id = a.depId
        left join classroom f on f.id = a.classId
        where a.isDeleted = 0
    </select>
    <select id="pageWithAwardAndScore" resultMap="listMap">
        select a.id,a.name,a.num,a.insertTime,a.check1,a.check2,
        b.title,b.bGrade,c.score,c.subjectScore,
        d.name as dName,f.name as cName
        from record a
        left join award b on a.award_id = b.id
        left join score c on c.num = a.num
        left join department d on d.id = a.depId
        left join classroom f on f.id = a.class_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
