<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myc.scholarship.mapper.StudentMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.myc.scholarship.entity.Student">
        <id column="id" property="id" />
        <result column="num" property="num" />
        <result column="name" property="name" />
        <result column="depId" property="depId" />
        <result column="classId" property="classId" />
        <result column="level" property="level" />
        <result column="stuState" property="stuState" />
        <result column="familyAccount" property="familyAccount" />
        <result column="familyNum" property="familyNum" />
        <result column="address" property="address" />
        <result column="zipCode" property="zipCode" />
        <result column="inCome" property="inCome" />
        <result column="inComeFrom" property="inComeFrom" />
    </resultMap>

    <resultMap id="pageMap" type="com.myc.scholarship.entity.Student" extends="BaseResultMap">
        <association property="classroom" javaType="com.myc.scholarship.entity.Classroom">
            <result column="cName" property="name"></result>
        </association>
        <association property="dep" javaType="com.myc.scholarship.entity.Department">
            <result column="dName" property="name"></result>
        </association>
    </resultMap>

    <select id="selectWithClassAndDep" resultMap="pageMap">
        select a.*,c.name as cName,d.name as dName
        from student a
        left join classroom c on c.id = a.classId
        left join department d on d.id = a.depId
        <where>
            ${ew.sqlSegment}
        </where>
    </select>


</mapper>
